<!DOCTYPE HTML>

<html>
	<head>
		<title>Colorizer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">AI</a></strong> based Image Colouring</h1>
			</header>


		<!-- Banner -->
			<section id="banner">
				<h2>AI based Image Colouring</h2>

				<ul class="actions">
					<li><a href="#two" class="button special big">Try It</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>AI Based Image colouring</h2>
									<p>Know about it.</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>The model was trained over 1.5M images based on a research paper titled 'Colorful Image Colorization' auuthored by Richard Zhang, Phillip Isola, Alexei A. Efros. It uses LAB colour space to predict the a and b channels of colour given L as the input.</p>
							</div>
						</div>
					</div>
				</section>
				<div class="image fit captioned">
					<img id="content" src="{{url_for('static',filename='images/example.jpg')}}" alt="Example Image" />
					<h3 align="center">Example</h3>
				</div>
			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Try It Out</h2>
							<p>Select your black and white content image</p>
						</header>
						<form action="{{url_for('mix')}}" method="post" enctype="multipart/form-data">
							<div class="8u$ 12u$(xsmall)" style="display: inline-block;">
							<div class="image fit captioned">
									<h4	>Style Image</h4>
									<img id="style" src="{{style}}" alt="Style image" />
									<input type="file" name="stylebtn" accept="Image/*" onchange="readURL(this,'style'); validate(); ">
							</div>
							<button id="btn"  type="submit" class="button special big" onclick="loading();" disabled style="display: inline-block;">Submit</button>
						</div>							
							
					</form>
						<div id="loading" style="display: none;">
							<h4>Computing Please wait...</h4>
							<img src="{{url_for('static',filename='images/loading.gif')}}">
						</div>
						<div class="6u$ 12u$(xsmall)" style={{attrib}}>
							<div class="image fit captioned">
								<img src="{{result}}" alt="Style image" />
								<h4>Styled Image</h2>
							</div>
						</div>
						
					</div>
				</section>

			<!-- Three -->
				

			<!-- Four -->
				

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/piyush-verma-258800163/" class="icon fa-linkedin"></a></li>
						<li><a href="https://twitter.com/PiyushVerma_001" class="icon fa-twitter"></a></li>
						<li><a href="https://www.instagram.com/_piyush_.verma/" class="icon fa-instagram"></a></li>
						<li><a href="https://github.com/piyushverma001" class="icon fa-github"></a></li>

					</ul>
					<ul class="copyright">
						<li>&copy; Devil 2020. Ain't No Rights Reserved.</li>
						
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/image.js')}}"></script>
	</body>
</html>